.search_top_container {
    display: flex;
    flex-direction: column;
    background-color: #E6F7FF;
    border-radius: 16px;
    margin: 54px 90px;
    padding: 54px 31px;
}

.search-input {
    margin-top: 20px;
    width: 298px;
    height: 40px;
}

.search-button {
    margin-top: 32px;
    width: 101px;
    height: 40px;
}

.button_container :hover {
    color: #FFFFFF
}

@media (max-width: 768px) {

    .search-input {
        width: 198px;
    }

    .search_top_container {
        margin: 54px 0;
    }

}